* {
    outline:2 px solid red;
    background-color: blueviolet;
}

.title {
    background-color: aquamarine;
    text-align: center;
    padding: 10px;
}

a{
    background-color: bisque;
    text-align: center;
    width: 300px;
    height: 40px;
    display: block;
    box-sizing: border-box;
    border: 1px solid black;
    margin: 20px auto;
    padding: 10px;
}

h1 {
    background-color: cyan;
    text-align: center;
    width: 300px;
    height: 60px;
    display: block;
    box-sizing: border-box;
    border: 1px solid black;
    margin: 20px auto;
    padding: 10px;
}

img {
    margin: 10px auto;
    display: block;
}

h2 {
    background-color: bisque;
    text-align: center;
    width: 300px;
    height: 40px;
    display: block;
    box-sizing: border-box;
    border: 1px solid black;
    margin: 20px auto;
    padding: 5px;
}

.description {
    display: block;
    background-color: rgb(129, 139, 71);
}

ul li, ol li {
    color: #93bbe5; /* Text color for list items and markers */
    margin-bottom: 10px;
    background-color: rgb(14, 118, 209);
}

